.section-title{
    text-align: center;
    position: relative;
    margin-bottom: 40px;
}
.section-title .shadow{
    position: absolute;
    top: 0px;
    left: 0;
    font-size: 7vw;
    color: var(--color-subtitle-shadow);
    z-index: -1;
    font-weight: 900;
    width: 100%;
}
.section-title .title{
    color: var(--color-subtitle);
    margin-bottom: 0;
}
.section-title p{
    line-height: 1.8;
    font-weight: 600;
    font-size: 25px;
    color: var(--color-body-white);
}

@media screen and (max-width:992px) {
    .section-title .shadow{
        font-size: 60px;
    }
    .section-title p{
        font-size: 18px;
    }
}